*{
    padding: 0px;
    margin: 0px;
}
.main{
    width: 100%;
    /* height:  100vh; */
}
.logo{
    width: 250px ;
}
.image-container {
    position: relative;
    display: inline-block;
}

.image-container img {
    display: block;
    width: 100%; /* Adjust as needed */
    height: auto; /* Adjust as needed */
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.705); /* Semi-transparent background */
    
}
.box{
    border: 1px white solid;
    border-radius: 10px;
}
.box:hover{
    border: 3px lightseagreen solid;
}
h1{
    font-size: clamp(12px, 4vw, 32px);
}
@media(max-width:1224px){
    .sample{
        visibility: hidden;
    }
    .overlay{
        background-color: rgba(255, 255, 255, 0);
    }
   
}